*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(187, 10, 99));
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    margin: 100px;
}
body aside{
    height: 900px;
    width: 150vh;
    background-color:brown;
}
body aside header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
body aside header .lg-principal h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    font-weight: lighter;
    margin: 40px;
}
body aside header .end{
    display: flex;
    justify-content: space-between;
}
body aside header .flex-line{
    display: flex;
    justify-content: space-around;
}
body aside header .flex-line input{
    background-color: brown;
    border: none;
    border-bottom:1px rgb(255, 255, 255) solid; 
    outline: none;
    margin: 20px;
    width: 200px;
}
body aside header .flex-line input::-webkit-input-placeholder{
    color:rgb(255, 255, 255);
    padding: 5px; 
    
}
body aside header .opç-center{
    display: flex;
}
body aside header .opç-center h2{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    padding: 30px;
}
body aside main{
    height: 100vh;
    display: flex;
    /* background-color: aqua; */
}
body aside main .fone-png{
    height: 500px;
    width: 550px;
    border-radius: 0px 150px 150px 0px;
    background-color: white;
    margin-top:50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
body aside main .fone-png img{
    height: 350px;
    margin: 20px;
}
body aside main .coraçoes{
    margin: 90px 0px 0px 50px;
}
body aside main .coraçoes img{
    display: block;
    height: 30px;
}
body aside main .descrition{
    margin:90px 0px 0px 40px;
}
body aside main .descrition h2{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}
body aside main .descrition .estrelas{
    display: flex;
    margin-top: 30px;
}
body aside main .descrition .estrelas img{
    height: 20px;
}
body aside main .descrition .avaliaçao{
    margin: 25px 0px 0px 15px; 
    font-size: 12px;
    color: rgb(197, 197, 197);
}
body aside main .descrition .preços {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    
}
body aside main .descrition .preços p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}
body aside main .descrition .descrition-fone{
    margin-top: 80px; 
}
body aside main .descrition .descrition-fone p{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}
body aside main .descrition .botoes-line{
    display: flex;
    margin-top: 80px;
}
body aside main .descrition .botoes-line #botao1{
    background-color: brown;
    margin: 0px 50px 0px 0px;
    height: 45px;
    width: 200px;
    border: white 1px solid;
    color: white;
    font-size: 18px;
}
body aside main .descrition .botoes-line #botao2{
    background-color: rgb(15, 9, 51);
    margin: 0px 50px 0px 0px;
    height: 45px;
    width: 200px;
    border: white 1px solid;
    color: white;
    font-size: 18px;
    border: none;
}